
//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #1b8bf9;
$theme-color-2:                 #ffc527;

$link-color: 					#1b8bf9;

$link-focus-color: 				#1b8bf9;

